@import '../../scss/variables.scss';
.input-email {
  max-width: 360px;
  position: relative;
  &__input {
    width: 100%;
    background: #ffffff;
    border: 1px solid $strokeColor;
    border-radius: 12px;
    padding: 13px 16px;
    color: inherit;
    line-height: 160%;

    &:focus {
      outline: none;
      border-color: $blueColor;
    }

    &::placeholder {
      color: $strokeColor;
    }
  }

  &__input.is-valid {
    border-color: $errorColor;
  }

  &__icon {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }

  &__message {
    position: absolute;
    bottom: -24px;
    left: 16px;
    color: $errorColor;
    font-size: 16px;
    line-height: 160%;
  }
}
