@import './src/styles/breakpoints.scss';
@import './src/styles/variables.scss';

.styles {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;

  border-radius: 50%;

  cursor: pointer;

  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.2);
  }
}
