@import './src/styles/breakpoints.scss';
@import './src/styles/variables.scss';

.classification {
  padding-top: 24px;
  padding-bottom: 48px;

  @include for-mm {
    padding-top: 32px;
    padding-bottom: 64px;
  }

  &__crumbreads {
    li {
      display: inline-block;
      font-size: 14px;
      line-height: 160%;
      color: $blueColor;

      @include for-sm {
        font-size: 16px;
      }

      &:not(:last-child) {
        margin-right: 8px;
      }
    }
  }

  &__title {
    padding-top: 16px;
    padding-bottom: 24px;

    @include for-mm {
      padding-bottom: 32px;
    }
  }

  &__list {
    padding-bottom: 48px;

    @include for-mm {
      padding-bottom: 64px;
    }
  }

  &__block-text {
    padding-top: 24px;
    padding-bottom: 32px;

    @include for-mm {
      padding-top: 32px;
      padding-bottom: 48px;
    }

    &:last-child {
      padding-bottom: 0;
    }
  }
  p {
    line-height: 160%;
    &:not(:last-child) {
      margin-bottom: 16px;

      @include for-sm {
        margin-bottom: 24px;
      }
    }
  }
  span {
    margin-right: 16px;
  }

  &__block-text_list {
    display: flex;
    align-items: flex-start;
  }
}
