@import '@/styles/variables.scss';
@import '@/styles/breakpoints.scss';

.burger {
  background-color: $bgLightColor;
  border-radius: 8px;
  margin-left: 12px;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include for-mm {
    width: 48px;
    height: 48px;
    margin-left: 16px;
    border-radius: 12px;
  }

  @include for-tablet {
    display: none;
  }

  .block {
    position: relative;
    width: 16px;
    height: 11.3px;

    cursor: pointer;
  }
  .line {
    position: absolute;
    width: 100%;
    min-height: 1.3px;
    background: #000;
    background-color: $blackColor;
    transition: all 0.3s ease;
    border-radius: 12px;

    @include for-sm {
      min-height: 2px;
    }
    &:nth-child(1) {
      top: 0;
    }
    &:nth-child(2) {
      top: 50%;
      transform: translateY(-50%);
    }
    &:nth-child(3) {
      bottom: 0;
    }
  }
}
.active {
  .line {
    &:nth-child(1) {
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
    }
    &:nth-child(2) {
      opacity: 0;
    }
    &:nth-child(3) {
      bottom: 50%;
      transform: translateY(50%) rotate(-45deg);
    }
  }
}
