@import './src/styles/breakpoints.scss';
@import './src/styles/variables.scss';

.agreement {
  padding-top: 24px;
  padding-bottom: 48px;

  @include for-mm {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 48px;
    padding-top: 32px;
    padding-bottom: 64px;
  }

  &__title {
    padding-bottom: 24px;

    @include for-mm {
      padding-bottom: 32px;
    }
  }

  &__block-text {
    padding-top: 24px;
    padding-bottom: 32px;

    @include for-mm {
      padding-top: 32px;
      padding-bottom: 48px;
    }

    &:last-child {
      padding-bottom: 0;
    }
    a {
      color: $blueColor;
      transition: all 0.3s ease 0s;

      &:hover {
        text-decoration: underline;
        color: $blueHoverColor;
      }
    }
  }

  &__block-list {
    padding-left: 28px;
    list-style: outside;
  }
  p {
    line-height: 160%;
    &:not(:last-child) {
      margin-bottom: 16px;

      @include for-sm {
        margin-bottom: 24px;
      }
    }
  }

  &__aside {
    padding-top: 32px;
    font-weight: 400;
    font-size: 18px;

    @include for-mm {
      padding-top: 130px;
    }

    @include for-tablet {
    }

    li {
      line-height: 40px;
      padding-left: 28px;
      display: flex;
      align-items: center;
      color: $blueColor;
      border-left: 2px solid $strokeColor;
      transition: all 0.3s ease 0s;

      &:hover {
        color: $blueHoverColor;
        border-color: $blueHoverColor;
      }
    }
  }
}

.menu-sort {
  position: fixed;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 102;
  height: 100%;

  &__bg {
    min-height: calc(100% - 174px);
    background: #2259b4;
    opacity: 0.2;
  }

  &__list {
    background: #fff;
    height: 174px;
  }

  li {
    color: $blueColor;
    margin-right: 15px;
    margin-left: 15px;
    line-height: 58px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:not(:last-child) {
      border-bottom: 1px solid $strokeColor;
    }
  }
  svg {
    visibility: visible;
  }
}
