@import './src/styles/breakpoints.scss';
@import './src/styles/variables.scss';

.accordion {
  max-width: $desktop;
  width: 100%;
  padding: 24px 15px;

  @include for-mm {
    padding: 0px 32px 48px;
  }

  h2 {
    font-size: 20px;
    line-height: 130%;
    font-weight: 400;
    color: $blackColor;
    padding-bottom: 24px;
    border-bottom: 1px solid $strokeColor;

    @include for-mm {
      border-bottom: none;
      font-size: 32px;
    }
  }

  &__mobile {
    @include for-mm {
      display: none;
    }
  }
  &__desktop {
    display: none;
    @include for-mm {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      column-gap: 24px;
    }
  }
}

.accordion-item {
  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 18px;
    padding-bottom: 18px;
    border-bottom: 1px solid $strokeColor;
    margin-bottom: 2px;
    cursor: pointer;

    @include for-mm {
      border-bottom: none;
      padding: 0px;
      padding-top: 8px;
    }

    h4 {
      font-size: 16px;
      line-height: 160%;
      font-weight: 400;

      @include for-mm {
        margin-bottom: 16px;
        font-size: 18px;
      }
    }

    button {
      width: 32px;
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: $bgColor;
      border-radius: 12px;
      transition: all 0.3s ease 0s;

      border: none;
      cursor: pointer;
      outline: none;
      font-size: 24px;
      color: $blueColor;
      transition: transform 0.3s ease 0s;
      transform: rotate(0deg);
    }
  }

  &__list {
    li {
      color: $blueColor;
      font-size: 14px;
      line-height: 160%;
      padding-bottom: 16px;

      @include for-mm {
        font-size: 16px;
      }
    }
  }
}
