@import './src/styles/breakpoints.scss';
@import './src/styles/variables.scss';

.crumbreads {
  padding-bottom: 16px;
  li {
    position: relative;
    display: inline-block;
    font-size: 14px;
    line-height: 160%;
    color: $blueColor;
    transition: all 0.3s ease 0s;

    @include for-sm {
      font-size: 16px;
    }

    &:not(:last-child) {
      position: relative;
      margin-right: 32px;
      &::after {
        content: '';
        position: absolute;
        top: 10px;
        width: 4px;
        height: 4px;
        background: $blackSecondColor;
        border-radius: 50%;
        display: block;
        right: -20px;

        line-height: 0;
        z-index: 111;
      }
    }

    &:hover {
      color: $blueHoverColor;
      text-decoration: underline;
    }
  }
}
