@import '@/styles/variables.scss';
@import '@/styles/breakpoints.scss';

// .header {
//   position: relative;
//   margin: 0 auto;
//   width: 100%;
//   box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);

//   margin-bottom: 12px;

//   @include for-sm {
//     margin-bottom: 41px;
//   }

//   &__top {
//     position: fixed;
//     z-index: 100;
//     margin: 0 auto;
//     top: 0;
//     left: 0px;
//     right: 0;
//     height: 52px;
//     background-color: rgb(255, 255, 255);
//     display: flex;
//     justify-content: center;
//     align-items: center;

//     @include for-mm {
//       height: 80px;
//     }

//     @include for-md {
//       left: 0;
//     }
//   }

//   &__bottom {
//     min-width: 100%;
//     padding: 0px 15px;
//     margin-top: 52px;
//     margin-bottom: 13px;
//     z-index: 10;

//     @include for-mm {
//       margin-top: 80px;
//     }

//     @include for-sm {
//     }
//     @include for-tablet {
//       padding: 0px 0px;
//       margin-bottom: 0px;
//     }
//   }
// }

// .top {
//   width: 100%;
//   color: rgb(255, 255, 255);
//   padding: 0px 15px;
//   max-width: $desktop;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;

//   @include for-mm {
//     padding: 0px 32px;
//   }

//   @include for-md {
//     transform: translateX(12px);
//   }

//   &__buttons {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//   }
// }

// .search {
//   margin-right: 16px;
//   margin-left: 16px;
//   display: none;

//   @include for-mm {
//     display: block;
//     width: 100%;
//   }
// }

// .forLowSee {
//   display: none;

//   button {
//     padding: 11px 16px;
//     cursor: pointer;
//     color: $blueColor;
//     font-size: 16px;
//     line-height: 160%;
//     border-radius: 12px;
//     background: $bgLightColor;
//     transition: all 0.3s ease 0s;
//     white-space: nowrap;
//   }

//   @include for-tablet {
//     display: block;
//   }

//   &:hover {
//     button {
//       color: $blueHoverColor;
//     }
//   }
// }

// .searchBottom {
//   display: block;
//   height: 40px;

//   @include for-sm {
//     height: 49px;
//   }

//   @include for-mm {
//     display: none;
//   }
// }

// .cover {
//   transition: all 0.3s ease 0s;
//   @include for-mm {
//     position: fixed;
//     top: 0;
//     left: 0;
//     right: 0;
//     height: 100vh;
//     width: 50%;
//     background: #2259b4;
//     opacity: 0.2;
//     z-index: 101;
//   }
//   @include for-tablet {
//     display: none;
//   }
// }

// .logo {
//   width: 122.18px;
//   height: 32px;
//   cursor: pointer;

//   @include for-mm {
//     width: 183.28px;
//     height: 48px;
//   }
// }

.header {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 24px;

  @include for-mm {
    margin-bottom: 41px;
  }

  @include for-tablet {
    height: 133px;
  }

  &__nav {
    position: fixed;
    z-index: 100;
    top: 0;
    display: flex;
    flex-direction: column;
    max-width: $desktop;
    padding: 0px 15px;
    width: 100%;
    height: inherit;
    text-align: center;
    background-color: white;
    box-shadow: 0 4px 12px 100vmax white;
    clip-path: inset(0 -100vmax);

    @include for-mm {
      padding: 0px 32px;
    }
  }
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 3px;
      background: rgba(0, 0, 0, 0.2);
      box-shadow: 0 10px 10px 100vmax rgba(0, 0, 0, 0.2);
      clip-path: inset(0 -100vmax);
    }
  }

  &__logo {
    width: 122.18px;
    height: 32px;
    cursor: pointer;
    margin-right: 37.73px;

    @include for-mm {
      width: 183.28px;
      height: 48px;
    }
  }

  &__btn_see {
    display: none;
    padding: 11px 16px;
    margin: 0px 16px;
    cursor: pointer;
    color: $blueColor;
    font-size: 16px;
    line-height: 160%;
    border-radius: 12px;
    background: $bgLightColor;
    transition: all 0.3s ease 0s;
    white-space: nowrap;
    transition: all 0.4s ease 0s;

    @include for-tablet {
      display: block;
    }

    &:hover {
      color: $blueHoverColor;
      text-decoration: underline;
    }
  }

  &__menu {
    display: none;

    @include for-tablet {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 16px;
      padding-bottom: 2px;
      // height: 50px;

      li {
        padding-bottom: 16px;
        border-bottom: 2px solid transparent;
      }
    }
  }
}

.active {
  padding-bottom: 16px;
  border-bottom: 2px solid $blueHoverColor;
}
