@import '@/styles/variables.scss';
@import '@/styles/breakpoints.scss';

.news {
  padding: 48px 0;

  @include for-sm {
    padding: 64px 0;
  }

  &__header {
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;

    @include for-mm {
      flex-direction: row;
      align-items: center;
      justify-content: start;
      margin-bottom: 32px;
      column-gap: 24px;
    }
  }

  &__link {
    text-align-last: left;
    color: $blueColor;
    white-space: nowrap;
    padding-top: 4px;
    &:hover {
      color: $blueHoverColor;
    }

    @include for-mm {
      padding-top: 0;
      transform: translateY(-2px);
    }
  }

  &__wrapper {
    display: flex;
    column-gap: 16px;
    overflow-x: auto;
    margin-right: -15px;

    @include for-mm {
      column-gap: 24px;
      margin-right: 0px;
    }
  }
}
