@import './src/styles/breakpoints.scss';
@import './src/styles/variables.scss';

.mainTitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  text-align: left;
  color: $blackColor;

  @include for-sm {
    font-size: 32px;
  }
}

.secondaryTitle {
  color: $blackColor;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;

  @include for-mm {
    font-size: 18px;
  }
}
