@import './src/styles/breakpoints.scss';
@import './src/styles/variables.scss';

.manufacture {
  padding-top: 24px;
  padding-bottom: 48px;

  @include for-mm {
    padding-top: 32px;
    padding-bottom: 64px;
  }

  @include for-tablet {
    padding-bottom: 120px;
  }

  &__title {
    padding-bottom: 24px;

    @include for-mm {
      padding-bottom: 32px;
    }
  }

  &__list {
    padding-top: 24px;
    display: grid;
    grid-template-columns: 1fr;

    @include for-mm {
      padding-top: 40px;
      column-gap: 40px;
      grid-template-columns: 50% 50%;
    }

    li {
      font-weight: 400;
      font-size: 16px;
      line-height: 160%;

      color: $blueColor;

      &:not(:last-child) {
        margin-bottom: 16px;

        @include for-mm {
          margin-bottom: 24px;
        }
      }

      span {
        color: $blackColor;
      }

      @include for-mm {
        font-size: 18px;
      }
    }
  }
}

.content {
  padding-top: 24px;

  &__links {
    display: flex;
    flex-wrap: wrap;

    padding: 10px;
    margin-top: 24px;
    margin-bottom: 24px;
    background: $bgLightColor;
    border-radius: 12px;
    cursor: pointer;
    transition: background 0.3s ease 0s;

    @include for-mm {
      margin-top: 16px;
      padding: 12px 12px;
      gap: 10px;
    }

    span {
      display: block;
      padding: 10px;
      border-radius: 12px;
      font-size: 16px;
      line-height: 160%;
      color: $blueColor;
      transition: color 0.3s ease 0s;

      &:hover {
        background: $bgColor;
        span {
          color: $blueHoverColor;
        }
      }

      @include for-mm {
        padding: 4px 8px;
      }
    }
  }
}

.tabs {
  display: flex;
  flex-direction: row;
  gap: 4px;
  margin-bottom: 24px;
  width: 100%;
  border-bottom: 1px solid $strokeColor;
  overflow-x: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

.tabs button {
  background: $bgColor;
  border-radius: 12px 12px 0px 0px;
  color: $blackColor;
  cursor: pointer;
  padding: 8px 24px;
  transition: all 0.3s ease-out;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  white-space: nowrap;

  @include for-sm {
    font-size: 16px;
  }
}

.tabs button:hover {
  color: white;
  background: $blueHoverColor;
}

.tabs button:disabled {
  background: $blackSecondColor;
  color: white;
}

.links {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  padding-top: 24px;
  transition: all 0.3s ease 0s;

  div {
    color: $blackColor;
  }
}

.radiobuttons {
  display: flex;
}
