@import './src/styles/breakpoints.scss';
@import './src/styles/variables.scss';

.itemClassification {
  display: block;

  &:not(:last-child) {
    margin-bottom: 16px;
  }

  @include for-mm {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 62px;
  }

  @include for-tablet {
    gap: 83px;
  }

  span {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;

    @include for-mm {
      font-size: 18px;
    }
  }

  a {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: $blueColor;
    transition: all 0.3s ease 0s;
    margin-top: -1px;
    border-bottom: 1px solid transparent;

    @include for-mm {
      font-size: 18px;
    }
  }

  &:hover {
    a {
      border-color: $blueHoverColor;
      color: $blueHoverColor;
    }
  }
}
