@import '../../scss/variables.scss';

.letter {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  background-color: $strokeColor;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  &.checked {
    background-color: $blueColor;
    color: #fff;
    transition: background-color 0.3s ease 0s;
  }
  &:hover {
    background-color: $blueHoverColor;
    color: #fff;
  }

  &:active {
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.35);
  }
}
