@import '../../scss/variables.scss';
@import '../../scss/breakpoints.scss';

// burger styles  // burger styles

.burger {
  background-color: $bgLightColor;
  border-radius: 12px;
  margin-left: 12px;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include for-sm {
    width: 48px;
    height: 48px;
    margin-left: 16px;
  }

  @include for-tablet {
    display: none;
  }

  &__block {
    position: relative;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  &__line {
    position: absolute;
    width: 100%;
    min-height: 1.3px;
    background-color: $blackColor;
    transition: all 0.3s ease;
    border-radius: 12px;

    @include for-sm {
      min-height: 2px;
    }
    &:nth-child(1) {
      top: 0;
    }
    &:nth-child(2) {
      top: 50%;
      transform: translateY(-50%);
    }
    &:nth-child(3) {
      bottom: 0;
    }
  }
  &.active {
    .burger__line {
      &:nth-child(1) {
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        bottom: 50%;
        transform: translateY(50%) rotate(-45deg);
      }
    }
  }
}
