@import './src/styles/breakpoints.scss';
@import './src/styles/variables.scss';

.langSwitch {
  order: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: nowrap;

  @include for-mm {
    margin-left: 16px;
    order: 3;
  }

  button {
    height: 32px;
    padding: 0px 8px;
    background: $bgLightColor;
    color: $strokeColor;
    font-weight: 600;
    font-size: 16px;
    font-family: inherit;
    white-space: nowrap;
    transition: all 0.3s ease 0s;

    img {
      margin-right: 4px;
    }

    @include for-mm {
      height: 48px;
    }

    &:first-child {
      border-radius: 8px 0px 0px 8px;
      @include for-mm {
        border-radius: 12px 0px 0px 12px;
      }
    }

    &:last-child {
      border-radius: 0px 8px 8px 0px;
      @include for-mm {
        border-radius: 0px 12px 12px 0px;
      }
    }
  }
}
