@import '../../scss/variables.scss';

.sort {
  border: none;
  background: none;
  font-family: inherit;
  font-size: inherit;
  color: $blueColor;
  padding: 4px 8px;
  line-height: 160%;
  transition: all 0.3s ease 0s;
  cursor: pointer;

  &:not(:last-child) {
    margin-right: 24px;
  }

  &.checked {
    color: $secondaryColor;
    padding: 4px 8px;
    background-color: $bgColor;
    border-radius: 12px;
  }

  &:hover {
    color: $blueHoverColor;
    padding: 4px 8px;
    background-color: $bgColor;
    border-radius: 12px;
    text-decoration: underline;
  }

  &:active {
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.35);
  }
}
