@import '../../scss/variables.scss';
@import '../../scss/breakpoints.scss';

.bgMain {
  height: 244px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  background: url('../../img/bg/bg320.jpg') 100% / cover no-repeat;
  margin: 10px -15px 0px -15px;

  @include for-sm {
    background: url('../../img/bg/bg1024.jpg') 100% / cover;
  }
  @include for-mm {
    margin-top: 82px;
  }

  @include for-tablet {
    margin-top: 0px;
  }

  @include for-md {
    width: $md;
  }

  @include for-ld {
    background: url('../../img/bg/bg.jpg') 100% / cover;
    width: 1440px;
    margin-left: -170px;
  }
  &__title {
    line-height: 130%;
    padding: 0px 25px;
    max-width: 650px;
    text-align: center;

    @include for-sm {
      font-size: 32px;
    }
  }
}
