@import './src/styles/breakpoints.scss';
@import './src/styles/variables.scss';

.main {
  max-width: $desktop;
  padding: 0px 15px;
  width: 100%;
  margin-top: -14px;

  @include for-mm {
    padding: 0px 32px;
    margin-top: -42px;
  }
}
