@import '../../scss/variables.scss';

.btn {
  padding: 12px 32px;
  font-family: GolosMedium;
  font-size: 18px;
  line-height: 160%;
  background: $blueColor;
  display: inline-flex;
  color: #fff;
  border-radius: 12px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  transition: all 0.3s ease 0s;

  &:active {
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.35);
  }
}

.big-button {
  &:hover {
    background: $blueHoverColor;
  }

  &.active {
    background: $btnActive;
  }

  svg {
    padding-top: 3px;
    margin-right: 8px;
  }
}

.btn.secondary-button {
  background: $bgColor;
  color: $blueColor;

  svg {
    margin-right: 8px;
    transform: translate(0, 4px);
    fill: $blueColor;
  }

  &.active {
    background: $bgLightColor;
  }

  &:hover {
    color: $blueHoverColor;
    svg {
      fill: $blueHoverColor;
    }
  }
}

.small-button {
  padding: 4px 16px;
  font-size: 14px;
  line-height: 160%;
  border-radius: 12px;
  background: $blueColor;
  color: #fff;
  transition: all 0.3s ease 0s;

  &.active {
    background: $btnActive;
  }

  &:hover {
    background: $blueHoverColor;
  }
}
