@import '@/styles/variables.scss';
@import '@/styles/breakpoints.scss';

.container {
  padding-bottom: 24px;
  border-bottom: 1px solid $strokeColor;
}

.tabs {
  display: flex;
  flex-direction: row;
  gap: 4px;
  margin-bottom: 24px;
  width: 100%;
  border-bottom: 1px solid $strokeColor;
}

.tabs button {
  background: $bgColor;
  border-radius: 12px 12px 0px 0px;
  color: $blueColor;
  cursor: pointer;
  padding: 8px 24px;
  transition: all 0.3s ease-out;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  white-space: nowrap;

  @include for-sm {
    font-size: 16px;
  }
}

.tabs button:hover {
  color: white;
  background: $blueHoverColor;
}

.tabs button:disabled {
  background: $blackSecondColor;
  color: white;
}

.links {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding-top: 24px;
  transition: all 0.3s ease 0s;
}
