@import '@/styles/variables.scss';
@import '@/styles/breakpoints.scss';

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: $bgLightColor;
}

.sections {
  text-align: left;
  display: grid;
  gap: 24px;
  padding-top: 66px;
  padding-bottom: 72px;
  border-bottom: 1px solid $strokeColor;

  &__section_1 {
    @include for-sm {
      order: 2;
    }
    @include for-mm {
      order: 1;
    }
  }

  &__section_2 {
    @include for-sm {
      order: 1;
    }
    @include for-mm {
      order: 2;
    }
  }

  &__section_3 {
    @include for-sm {
      order: 3;
    }
    @include for-mm {
      order: 3;
    }
  }

  &__section_4 {
    @include for-sm {
      order: 4;
    }
    @include for-mm {
      order: 4;
    }
  }

  @include for-sm {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  @include for-mm {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: none;
    column-gap: 24px;
  }

  &__section {
    text-align: left;
    max-width: 100%;
  }

  &__text {
    font-size: 14px;
    line-height: 160%;
    color: $greyColor;

    @include for-mm {
      font-size: 16px;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__link {
    text-decoration: none;
    color: $blueColor;
    line-height: 160%;
    font-size: 16px;
    transition: color 0.3s ease 0s;

    &:hover {
      color: $blueHoverColor;
      text-decoration: underline;
    }
  }
}

.bottom {
  display: flex;
  font-size: 14px;
  padding-left: 15px;
  padding-right: 15px;
  line-height: 160%;
  justify-content: center;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 31px;
  color: $greyColor;

  @include for-mm {
    padding-top: 24px;
    padding-bottom: 24px;
    font-size: 16px;
  }
}

.socials {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  padding-top: 16px;
}
