@import '../../scss/variables.scss';

.tab {
  display: inline-block;
  line-height: 160%;
  color: $blueColor;
  padding: 8px 24px;
  background-color: $bgColor;
  border-radius: 12px 12px 0px 0px;
  transition: all 0.3s ease 0s;
  &:not(:last-child) {
    margin-right: 4px;
  }

  &:hover {
    color: $blueHoverColor;
    background-color: $bgLightColor;
  }

  &.checked {
    color: #fff;
    background-color: $secondaryColor;
  }
}
