@import '../../scss/variables.scss';
@import '../../scss/breakpoints.scss';

.header {
  &__nav {
  }

  &__search-top {
    display: flex;
    height: 80px;
    align-items: center;
  }

  &__logo {
    flex: 1 1 auto;
    margin-right: 37.73px;
    min-width: 110px;

    @include for-mm {
      flex: 1 0 auto;
    }
  }

  &__logo-img {
    max-width: 100%;
    @include for-ssm {
    }
  }

  // .header__menu

  &__menu {
    display: flex;
    justify-content: space-between;
  }

  // .header__menu-item

  &__menu-item {
    display: none;
    font-size: 18px;
    line-height: 52px;

    @include for-tablet {
      display: block;
    }

    a {
      text-decoration: none;
      color: $blackColor;

      &:hover {
        color: $blueHoverColor;
      }
    }
    &.active {
      border-bottom: 1px solid $blueHoverColor;
    }
  }

  &__mobile-search {
    display: block;
    @include for-mm {
      display: none;
    }
  }
  &__desktop-search {
    width: 100%;
    display: none;
    @include for-mm {
      display: block;
    }
  }
}
