@import '@/styles/variables.scss';
@import '@/styles/breakpoints.scss';

.banner {
  height: 244px;
  max-width: $desktop;
  padding: 0px 15px;
  width: 100%;
  text-align: center;

  @include for-sm {
    padding: 0px 32px;
  }

  @include for-tablet {
    margin-top: 0;
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: 24px;
    overflow: hidden;
    background: url('../../../public/img/bg/bg320.jpg') center/cover no-repeat;

    @include for-sm {
      background: url('../../../public/img/bg/bg768.jpg') center/cover no-repeat;
    }

    @include for-tablet {
      background: url('../../../public/img/bg/bg1024.jpg') center/cover
        no-repeat;
    }

    @include for-ld {
      background: url('../../../public/img/bg/bg1128.jpg') center/cover
        no-repeat;
    }
  }

  &__title {
    font-size: 24px;
    font-weight: 400;
    line-height: 130%;
    padding: 0px 15px;

    text-align: center;

    @include for-sm {
      font-size: 32px;
      max-width: 450px;
    }

    @include for-tablet {
      max-width: 714px;
    }
  }
}
