@import '@/styles/variables.scss';
@import '@/styles/breakpoints.scss';

.radio-label {
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
  margin-right: 24px;
}

.custom-radio {
  left: -8px;
  top: 6px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border: 2px solid $strokeColor;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  transition: all 0.3s ease 0s;

  &:hover {
    border-color: $blueColor;
  }
}

.radio-input {
  visibility: hidden;
}

.radio-input:checked + span {
  border: 6px solid $blueColor;
}
