@import './src/styles/breakpoints.scss';
@import './src/styles/variables.scss';

.news {
  padding-top: 48px +24px;
  padding-bottom: 48px;
  @include for-mm {
    padding-top: 32px + 64px;
    padding-bottom: 64px;
  }

  &__header {
    margin-top: 5px;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;

    @include for-mm {
      flex-direction: row;
      align-items: center;
      justify-content: start;
      margin-bottom: 32px;
      column-gap: 24px;
    }
  }

  &__link {
    text-align-last: left;
    color: $blueColor;
    white-space: nowrap;
    padding-top: 4px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    line-height: 180%;

    &::before {
      content: '';
      height: 1px;
      width: 100%;
      background-color: $blueColor;
      position: absolute;
      bottom: 0px;
      right: 100%;
      transition: all 0.3s ease-in-out;
    }
    &:hover {
      color: $blueHoverColor;

      &::before {
        background-color: $blueHoverColor;
        right: 0;
      }
    }

    @include for-mm {
      padding-top: 0;
      transform: translateY(-2px);
    }
  }

  &__wrapper {
    display: flex;
    column-gap: 16px;
    overflow-x: auto;

    @include for-mm {
      column-gap: 24px;
      margin-right: 0px;
    }
  }
}
