@import '@/styles/variables.scss';
@import '@/styles/breakpoints.scss';

.card {
  flex-basis: 33.333%;

  &__img_wrapper {
    display: block;
    cursor: pointer;
    min-width: 157px;
    min-height: 105px;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease 0s;

    &:hover {
      transform: scale(0.98);
      opacity: 0.8;
    }
  }

  &__content {
    padding-top: 8px;
    @include for-sm {
      padding-top: 24px;
    }

    time {
      padding-top: 8px;
      font-size: 14px;
      line-height: 160%;
      color: $greySecondColor;

      @include for-sm {
        padding-top: 16px;
        font-size: 16px;
      }
    }
  }
  &__category {
    display: block;
    text-align: left;
    font-size: 14px;
    line-height: 160%;
    font-weight: 400;
    color: $blueColor;
    transition: color 0.3s ease 0s;

    @include for-sm {
      font-size: 16px;
    }

    &:hover {
      color: $blueHoverColor;
    }
  }

  &__text_link {
    display: block;
    transition: color 0.3s ease 0s;
    text-align: left;
    padding-top: 8px;
    font-size: 16px;
    line-height: 160%;

    @include for-sm {
      padding-top: 16px;
      font-size: 18px;
    }

    &:hover {
      color: $blueHoverColor;
    }
  }
}
