@import '../../scss/variables.scss';
@import '../../scss/breakpoints.scss';

.footer {
  background-color: $bgLightColor;

  &__sections {
    padding-top: 32px;
    padding-bottom: 32px;
    border-bottom: 1px solid $strokeColor;

    @include for-mm {
      padding-top: 64px;
      padding-bottom: 64px;
    }
  }

  &__info {
  }
}
.sections-footer {
  @include for-mm {
    display: flex;
    justify-content: space-between;
    gap: 24px;
  }

  &__items {
    max-width: 100%;
    &:not(:last-child) {
      margin-bottom: 32px;
    }
    @include for-mm {
      max-width: 245px;

      &:not(:last-child) {
        margin-bottom: 0px;
      }
    }
  }

  &__title {
    color: $blackColor;
    font-size: 16px;
    line-height: 160%;
    padding-bottom: 16px;
    @include for-mm {
      font-size: 18px;
    }
  }

  &__text-block {
    line-height: 160%;
    font-size: 14px;

    @include for-mm {
      font-size: 16px;
    }
  }

  &__link {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__item {
    text-decoration: none;
    color: $blueColor;
    line-height: 160%;
    font-size: 14px;
    transition: color 0.3s ease 0s;

    &:hover {
      color: $blueHoverColor;
      text-decoration: underline;
    }

    @include for-mm {
      font-size: 16px;
    }
  }

  &__social-links {
    padding-top: 16px;
  }

  &__social-link {
    margin-right: 16px;
  }
}
.info-footer {
  &__text-block {
    display: flex;
    font-size: 14px;

    line-height: 160%;
    justify-content: center;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 31px;
    color: $greyColor;

    @include for-mm {
      padding-top: 24px;
      padding-bottom: 24px;
      font-size: 16px;
    }
  }
}
