@import '../../scss/variables.scss';

.checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;

  &__input {
    display: none;
  }

  &__round {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid $blueColor;
    border-radius: 4px;

    &.checked {
      background-color: $blueColor;
    }
    &.disabled {
      background-color: #fff;
      border-color: $strokeColor;
    }
  }
  &__label {
    padding-left: 8px;
  }
}

// .checkbox__label {
//   font-size: 16px;
//   color: #000;
//   &.disabled {
//     color: $strokeColor;
//   }
//   &.disabled.checked {
//     color: #fff;
//   }
//   &.checked {
//     color: #000;
//   }
// }
