@import '@/styles/variables.scss';
@import '@/styles/breakpoints.scss';

.farm-item {
  background: $bgLightColor;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 16px 8px;
  min-width: 132px;
  border-radius: 24px;
  width: 100%;
  margin: 15px 0px;
  transition: all 0.3s ease 0s;

  &:hover {
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.4);
  }

  @include for-sm {
    min-width: 200px;
    max-width: 264px;
    padding: 43px;
  }

  h3 {
    margin-top: 4px;
    font-size: 14px;
    line-height: 160%;
    color: $blueColor;

    text-align: center;

    font-weight: 400;

    @include for-sm {
      margin-top: 24px;

      white-space: nowrap;
      font-size: 18px;
    }
  }

  img {
    width: 40px;
    height: 40px;

    @include for-sm {
      width: 80px;
      height: 80px;
    }
  }
}
