@import './src/styles/breakpoints.scss';
@import './src/styles/variables.scss';

.header {
  height: 104px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 24px;

  @include for-mm {
    margin-bottom: 41px;
    height: 80px;
  }

  @include for-tablet {
    height: 135px;
  }

  &__nav {
    position: fixed;
    z-index: 100;
    top: 0;
    display: flex;
    flex-direction: column;
    max-width: $desktop;
    padding: 0px 15px;
    width: 100%;
    text-align: center;
    background-color: white;
    box-shadow: 0 4px 12px 100vmax white;
    clip-path: inset(0 -100vmax);

    height: auto;

    @include for-mm {
      padding: 0px 32px;
    }
  }

  .noFixed {
    position: relative;
  }

  &__top {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 90px 60px;
    grid-template-rows: 1fr 1fr;
    padding-top: 8px;
    padding-bottom: 12px;

    @include for-tablet {
      padding-top: 12px;
      padding-bottom: 0px;
    }

    @include for-mm {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 16px;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0px;
      width: 100%;
      height: 1px;
      background: rgba(0, 0, 0, 0.2);
      box-shadow: 0 10px 10px 100vmax rgba(0, 0, 0, 0.2);
      clip-path: inset(0 -100vmax);

      @include for-mm {
      }
    }
  }

  &__image {
    text-align: left;

    @include for-mm {
      order: none;
    }
  }

  &__logo {
    width: 122.18px;
    height: 32px;
    cursor: pointer;

    @include for-mm {
      margin-right: 37.73px;
      width: 183.28px;
      height: 48px;
    }
  }

  &__btn_see {
    display: none;
    padding: 11px 16px;
    margin: 0px 16px;
    cursor: pointer;
    color: $blueColor;
    font-size: 16px;
    line-height: 160%;
    border-radius: 12px;
    background: $bgLightColor;
    transition: all 0.3s ease 0s;
    white-space: nowrap;
    transition: all 0.4s ease 0s;

    @include for-mm {
      order: 3;
    }

    @include for-tablet {
      display: block;
    }

    &:hover {
      color: $blueHoverColor;
      text-decoration: underline;
    }
  }

  &__menu {
    display: none;
    @include for-tablet {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 24px;
      padding-bottom: 16px;

      li {
        font-weight: 400;
        font-size: 18px;
        border-bottom: 2px solid transparent;
      }
    }
  }
}

.search {
  order: 4;
  grid-column-start: 1;
  grid-column-end: 4;
  padding-top: 6px;
  width: 100%;
  position: relative;

  @include for-mm {
    padding-top: 0px;
    order: 2;
  }

  &__input {
    width: 100%;
    height: 40px;
    border: 1px solid $blueColor;
    border-radius: 12px;
    padding-left: 40px;
    font-size: 14px;
    line-height: 160%;
    color: $blackColor;
    outline: none;
    transition: all 0.3s ease;
    overflow: hidden;
    position: relative;

    &::placeholder {
      color: $greyColor;
    }

    @include for-mm {
      height: 48px;
    }
  }

  &__placeholder {
    position: absolute;
    top: 37%;
    left: 16px;

    font-size: 14px;
    line-height: 160%;
    transition: all 0.3s ease;

    @include for-mm {
      top: 53%;
      transform: translateY(-45%);
    }
  }

  &__btn {
    position: absolute;
    right: 0;
    top: 5%;
    width: 48px;
    height: 48px;
    border: none;
    background-color: transparent;
    border-radius: 12px;
    cursor: pointer;

    svg {
      transition: fill 0.3s ease;
    }

    @include for-mm {
      top: 50%;
      transform: translateY(-50%);
    }

    &:hover {
      svg {
        fill: $blueHoverColor;
      }
    }
  }
}
