@import './scss/variables.scss';

.App {
  font-family: 'GolosRegular';

  .regular {
    font-family: 'GolosRegular';
  }

  .bold {
    font-family: 'GolosBold';
  }

  .medium {
    font-family: 'GolosMedium';
  }

  .regular,
  .bold,
  .medium {
    display: inline-block;
    margin: 20px 25px;
  }
  .pagination-row {
    display: flex;
    gap: 16px;
    margin: 20px 0px;
  }
}

// .App > div {
//   margin: 20px 0px;
// }
