@font-face {
  font-family: 'GolosBold';

  src: url('./fonts/Golos_Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'GolosMedium';

  src: url('./fonts/Golos_Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'GolosRegular';

  src: url('./fonts/Golos_Regular.ttf') format('truetype');
}
