@import './scss/variables.scss';

@font-face {
  font-family: 'GolosBold';

  src: url('./fonts/Golos_Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'GolosMedium';

  src: url('./fonts/Golos_Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'GolosRegular';

  src: url('./fonts/Golos_Regular.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: 'GolosRegular';
  font-size: 16px;
}
body {
  width: 1440px;
  margin: 0 auto;
  height: 100%;
  color: $blackColor;
}
