$blackColor: #202227;
$blackSecondColor: #4d5156;
$blueColor: #0058e9;
$blueHoverColor: #3b009a;
$secondaryColor: #4d5156;
$greyColor: #9f9f9f;
$strokeColor: #d3dce9;
$bgColor: #eaf2fa;
$bgLightColor: #fbfbfb;
$callToActionColor: #00da49;
$btnActive: #611cd2;
