$blackColor: #202227;
$blackSecondColor: #4d5156;
$blueColor: #0058e9;
$blueHoverColor: #3b009a;
$secondaryColor: #4d5156;
$greyColor: #9f9f9f;
$greySecondColor: #7a8ea0;
$strokeColor: #d3dce9;
$bgColor: #eaf2fa;
$bgLightColor: #fbfbfb;
$callToActionColor: #00da49;
$btnActive: #611cd2;
$errorColor: #ff3868;

// breakpoints width
$minWidth: 320px;
$maxWidth: 1920px;
$ssm: 319.98px;
$sm: 479.98px;
$mm: 767.98px;
$tablet: 991.98px;
$desktop: 1157.98px;
$md: 1123.98px;
$ld: 1439.98px;
